

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url(images/circ.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.tab{
    position:absolute;
    height: 20em;
    width: 20em;
    margin-top: 0;
}
th img{
    border-radius: 50%;
}
.emp {
    width: 50em;
    height: 100%;
    border-collapse: collapse;
    position: relative;
    float: right;
}

.header {
    max-height: 100vh;
    width: 100%;
    overflow:scroll;
    border: 1px solid #dddddd;
}

.header thead th {
    position: sticky;
    top: 0;
    background-color:rgb(71, 69, 65);
    color: white;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border:.4em solid rgb(223, 222, 222);
}

tr:nth-child(even) {
    background-color: #e6e2d3;
}

tr:nth-child(odd) {
    background-color: #c4b7a6;
}

.emp tr:hover td {
    color: #2dcf76;
    cursor:pointer;
    background-color: #ffffff;
}

td>button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
    height: 2.8em;
    width: 8em;
}
:hover button{
    cursor: pointer;
}
.tb_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ebe4db;
}
div p{
    font-size: 2em;
    padding-left:9em ;
}
.tb_header p{
    color: black;
}
input button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.add_new{
    padding: 10px 20px;
    color: white;
    background-color: #a09567;
    border: none;
}
input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #a09567;
}
.page{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
    background: #c4b7a6;
}
.page div{
    padding: 10px;
    border: 2px solid #e0d6c9 ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a09567;
    color: black;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
    margin: 0 5px;
    cursor: pointer;
}
::placeholder{
    color: #a09567;
}

.tab td{
    text-align: center;
}
::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}